body{
    background-color: #000000;
    font-family: Arial, sans-serif;
    color: #ffffff;
}

.navbar{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
    font-size: 30px;
}


.nav-items{
    display: flex;
    gap: 20px;
    font-size: 30px;
    list-style: none;
    cursor: pointer;
}